<section>
    <div class="image-container mt-5">
        <img src="home.jpg" class="home-image" alt="Home Image">
        <h1 class="text-4xl font-bold mb-2 overlay-text">Software Engineering and Digital Marketing</h1>
        <button class="mt-20 text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-orange-800 dark:hover:bg-orange-700 dark:focus:ring-orange-800 overlay-button">Get Started</button>

        <!-- <div class="relative mt-5" style="width: 300px">
            <input type="text" id="small_outlined" class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
            <label for="small_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Small outlined</label>
        </div> -->
    </div>
</section>

<section>
    <div class="container mx-auto px-10 py-10">
        <h1 class="text-4xl font-bold mb-4 text-center">What We Do</h1>
        <div class="flex flex-row">
            <div class="w-1/2 pe-3">
                <div class="zoom-img">
                    <img src="workforce.jpg" alt="Work Force Image">
                </div>
                <div class="mt-4">
                    <h2 class="text-2xl font-semibold mb-2">Digital Marketing</h2>
                    <p class="text-gray-700">Our integrated teams have been managing SEO, Paid Search, Paid Social, and Analytics holistically since 2003 to create customized strategies for your organization and your customers. We create efficiencies between teams to maximize the potential of your marketing dollars and to accurately measure the effectiveness of your initiatives.</p>
                    <button class="mt-10 text-orange-700 hover:text-white border border-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-orange-800 dark:text-orange-800 dark:hover:text-white dark:hover:bg-orange-700 dark:focus:ring-orange-800">Learn More</button>
                </div>
            </div>
            <div class="w-1/2 ps-3">
                <div class=" zoom-img">
                    <img src="app_development.jpg" alt="App Development Image">
                </div>
                <div class="mt-4">
                    <h2 class="text-2xl font-semibold mb-2">Website & Custom App Development</h2>
                    <p class="text-gray-700">We offer custom development, maintenance, and support for Umbraco websites and custom web apps. We are a premier Umbraco Platinum Partner, offering superior solutions and support for websites of all sizes and verticals. We help teams realize the full potential of their Umbraco website through beautifully simple editing experiences and incredibly efficient front-end user experiences. From simple websites to complicated custom web application development, our team can handle all of your needs under one roof.</p>
                    <button class="mt-2 text-orange-700 hover:text-white border border-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-orange-800 dark:text-orange-800 dark:hover:text-white dark:hover:bg-orange-700 dark:focus:ring-orange-800">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>
